{% extends 'layout.html' %}

{% block body %}
<h1><i class="material-icons md-20">delete_forever</i>  Delete post</h1>

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>

    <input type="submit" value="Confirm" class="btn btn-danger" />
</form>

<br />
<a href="{% url 'post_detail' pk_category=object.category.pk pk_post=object.pk %}">
	<button class="btn btn-primary">
		<i class="material-icons md-14">cancel</i> 
		Cancel
	</button>
</a>


{% endblock %}