{% extends 'layout.html' %} 

{% block title %}Mac mac mac{% endblock %}

{% block body %}

<h1>Posts</h1>
<table class="table table-striped">
    <caption>List of all groups</caption>
    <tbody>
        {% for post in posts %}
        <tr>
            <!-- <td>{{ post.pk }}</td> -->
            <td>
                <a href="{% if post.link  %}{{post.link}} {% else %} 
                        {% url 'post_detail' pk_post=post.pk pk_category=post.category.pk %} {% endif %}">
                    {{ post.title }}
                </a>
            </td>
            <!-- <td>{{ post.text }}</td> -->
            <td>
                <a href="{% url 'post_detail' pk_post=post.pk pk_category=post.category.pk %}">
                    <button class="btn btn-info">
                        Comments
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}