{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-end" style="padding-right: 20px; border-right: 1px solid #aaaaaa;">
            <div style="text-align: right">
                <h1 class="display-4">
                    {{ user.username }}
                </h1>
                <span> {{ user.first_name }} {{ user.last_name }} </span>
                <br />
                <span> {{ user.profile.description }} </span>
                <br />
            	{% if request.user.is_authenticated and request.user.username == user.username %}
                	<a href="{% url 'edit_user_profile' %}">
	            		<button class="btn btn-default">
	            			Edit profile
	            		</button>
	            	</a>
            	{% endif %}
            </div>
        </div>

        <div class="col-md-6" style="text-align: left; padding-left: 20px">
		    <img src="{{ user.profile.image_url }}" 
		    	 class="thumbnail"
		    	 style="height: 150px;"/>
		</div>
	</div>
</div>


<h2>
    <i class="material-icons md-18">grade</i>
     Admins
</h2>

{% if request.user.is_authenticated and request.user.username == user.username %}
	<a href="{% url 'add_category' %}">
	    <button class="btn btn-primary">
	        Add category
	    </button>
	</a>
<br />
<br />
{% endif %}

{% if user.admined_categories.count == 0 %}
	<p> This user is the admin of no category. </p>
{% else %}
	<ul>
		{% for category in user.admined_categories.all %}
			<li>
                <a href="{% url 'category_post_list' pk=category.pk %}">
					{{ category.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

<h2>
    <i class="material-icons md-18">favorite</i>
    Follows
</h2>

{% if user.followed_categories.count == 0 %}
	<p> This user follows no category. </p>
{% else %}
	<ul>
		{% for category in user.followed_categories.all %}
			<li>
                <a href="{% url 'category_post_list' pk=category.pk %}">
					{{ category.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% endblock %}